## 라이브러리 및 데이터 불러오기

In [ ]:
import pandas as pd
import numpy as np

In [319]:
df = pd.read_csv("C://Python//NonSmoking_Project//data/1차_데이터 정제_과태료.csv", encoding ='cp949')
df

,부과일자,최초본세,부과연도,부과월,부과일,지번,주소,시,구,세부주소
0,2014-07-21,"80,000",2014,7,21,300-010,대전광역시 동구 창조1길 68 (원동),대전광역시,동구,창조1길68
1,2015-07-02,"80,000",2015,7,2,300-040,대전광역시 동구 대전로 529,대전광역시,동구,대전로529
2,2014-08-20,"80,000",2014,8,20,300-050,대전광역시 동구 대전로 422-13,대전광역시,동구,대전로422-13
3,2014-10-01,"100,000",2014,10,1,300-050,대전광역시 동구 신기로 78,대전광역시,동구,신기로78
4,2015-04-29,"100,000",2015,4,29,300-060,대전광역시 동구 솜2길 11 (신안동),대전광역시,동구,솜2길11
...,...,...,...,...,...,...,...,...,...,...
2887,2015-09-08,"80,000",2015,9,8,NaN,대전광역시 중구 산성동 330번지 2호 경성공원아파트 101동 604호,대전광역시,중구,산성동330번지
2888,2015-09-01,"80,000",2015,9,1,NaN,대전광역시 중구 선화동 145번지 6호,대전광역시,중구,선화동145번지
2889,2017-11-30,"100,000",2017,11,30,NaN,대전광역시 중구 선화동 164번지 302호,대전광역시,중구,선화동164번지
2890,2018-03-19,"100,000",2018,3,19,NaN,대전광역시 중구 선화동 164번지 302호,대전광역시,중구,선화동164번지
2891,2017-11-01,"100,000",2017,11,1,NaN,대전광역시 중구 수침로 138,대전광역시,중구,수침로138

In [24]:
import requests
import json

In [288]:
rest_api_key = "616734aa8214dbf958cfaebd6bd41aec"

In [289]:
class KakaoLocalAPI:
    """
    Kakao Local API Controller
    """
    def __init__(self, rest_api_key):
        """
        Rest API key 초기화 및 기능 별 url 설정
        """
        
        # REST API key 설정
        self.rest_api_key = rest_api_key
        self.headers = {"Authorization": "KakaoAK {}".format(rest_api_key)}
        
        # 01 주소검색
        self.URL_01 = "https://dapi.kakao.com/v2/local/search/address.json"
        
    def search_address(self, query, analyze_type = None, page = None, size = None):
        """
        01 주소 검색
        """
        params = {"query": f"{query}"}
    
        if analyze_type != None:
            params["analyze_type"]=f"{analyze_type}"
    
        elif page != None:
            params['page'] = f"{page}"
    
        elif size != None:
            params['size'] = f"{size}"
    
        res = requests.get(self.URL_01, headers = self.headers, params = params)
        document = json.loads(res.text)
    
        return document

In [291]:
kakao = KakaoLocalAPI(rest_api_key)

## 데이터 관찰

In [301]:
df['주소'].isnull().value_counts()

False    2892
Name: 주소, dtype: int64

In [302]:
add_list = df['주소']
add_list

0                         대전광역시 동구 창조1길 68 (원동)
1                              대전광역시 동구 대전로 529
2                           대전광역시 동구 대전로 422-13
3                               대전광역시 동구 신기로 78
4                         대전광역시 동구 솜2길 11 (신안동)
                         ...
2887    대전광역시 중구 산성동 330번지 2호 경성공원아파트 101동 604호
2888                      대전광역시 중구 선화동 145번지 6호
2889                    대전광역시 중구 선화동 164번지 302호
2890                    대전광역시 중구 선화동 164번지 302호
2891                           대전광역시 중구 수침로 138
Name: 주소, Length: 2892, dtype: object

In [139]:
kakao.search_address(add_list[0])

{'documents': [{'address': {'address_name': '대전 동구 원동 30-13',
    'b_code': '3011010100',
    'h_code': '3011051500',
    'main_address_no': '30',
    'mountain_yn': 'N',
    'region_1depth_name': '대전',
    'region_2depth_name': '동구',
    'region_3depth_h_name': '중앙동',
    'region_3depth_name': '원동',
    'sub_address_no': '13',
    'x': '127.435184665945',
    'y': '36.3280028576829'},
   'address_name': '대전 동구 창조1길 68',
   'address_type': 'ROAD_ADDR',
   'road_address': {'address_name': '대전 동구 창조1길 68',
    'building_name': '',
    'main_building_no': '68',
    'region_1depth_name': '대전',
    'region_2depth_name': '동구',
    'region_3depth_name': '원동',
    'road_name': '창조1길',
    'sub_building_no': '',
    'underground_yn': 'N',
    'x': '127.435184665945',
    'y': '36.3280028576829',
    'zone_no': '34629'},
   'x': '127.435184665945',
   'y': '36.3280028576829'}],
 'meta': {'is_end': True, 'pageable_count': 1, 'total_count': 1}}

In [231]:
num = 0
for i in range(len(add_list)):
    result_01 = kakao.search_address(add_list[i])
    if len(result_01['documents']) == 0:
        num+=1
        
print(num)
# 검색되지 않는 주소 데이터 86개 존재

86

## 데이터 전처리
### 유효하지 않은 주소 데이터 분리(1)

In [150]:
error_index = []

for i in range(len(add_list)):
    result_02 = kakao.search_address(add_list[i])
    if len(result_02['documents']) == 0:
        error_index.append(i)

In [151]:
error_index

[51,
 63,
 112,
 155,
 183,
 206,
 229,
 234,
 235,
 319,
 460,
 548,
 560,
 638,
 676,
 783,
 787,
 802,
 910,
 958,
 1001,
 1002,
 1003,
 1004,
 1009,
 1010,
 1011,
 1141,
 1143,
 1338,
 1472,
 1494,
 1516,
 1599,
 1665,
 1666,
 1712,
 1727,
 1730,
 1731,
 1732,
 1733,
 1734,
 1736,
 1737,
 1833,
 2044,
 2076,
 2103,
 2138,
 2139,
 2140,
 2154,
 2203,
 2204,
 2205,
 2207,
 2208,
 2209,
 2210,
 2211,
 2212,
 2213,
 2214,
 2215,
 2216,
 2217,
 2289,
 2330,
 2335,
 2347,
 2494,
 2548,
 2549,
 2550,
 2619,
 2680,
 2689,
 2797,
 2801,
 2839,
 2840,
 2885,
 2888,
 2889,
 2890]

In [178]:
df_error = pd.DataFrame(columns = {'부과일자','최초본세','부과연도','부과월','부과일','지번','주소','시','구','세부주소'})
df_error = df_error[['부과일자','최초본세','부과연도','부과월','부과일','지번','주소','시','구','세부주소']] # 컬럼 순서 재배열

In [273]:
# 주소지 검색 불가한 데이터 별도로 수합

for i in error_index:
    df_error.loc[i] = df.loc[i]
df_error

,부과일자,최초본세,부과연도,부과월,부과일,지번,주소,시,구,세부주소
51,2015-07-03,"80,000",2015,7,3,301-807,대전광역시 중구 선화서로 121 (목동),대전광역시,중구,선화서로121
63,2015-07-27,"80,000",2015,7,27,301-825,대전광역시 중구 선화로57번길 21,대전광역시,중구,선화로57번길21
112,2015-07-29,"80,000",2015,7,29,302-803,대전광역시 서구 유등로431번길 18-5 (가장동),대전광역시,서구,유등로431번길18-5
155,2015-04-06,"80,000",2015,4,6,302-814,대전광역시 서구 백운2길 15 (괴정동),대전광역시,서구,백운2길15
183,2015-07-30,"80,000",2015,7,30,302-823,대전광역시 서구 제비네11길 26,대전광역시,서구,제비네11길26
...,...,...,...,...,...,...,...,...,...,...
2885,2012-07-03,"40,000",2012,7,3,NaN,대전광역시 중구 동서대로11길 6,대전광역시,중구,동서대로11길6
2888,2015-09-01,"80,000",2015,9,1,NaN,대전광역시 중구 선화동 145번지 6호,대전광역시,중구,선화동145번지
2889,2017-11-30,"100,000",2017,11,30,NaN,대전광역시 중구 선화동 164번지 302호,대전광역시,중구,선화동164번지
2890,2018-03-19,"100,000",2018,3,19,NaN,대전광역시 중구 선화동 164번지 302호,대전광역시,중구,선화동164번지
2522,2014-08-18,"80,000",2014,8,18,NaN,대전광역시 대덕구 홍도로 91 (오정동) 블루빌 201호,대전광역시,대덕구,홍도로91

In [320]:
# 주소지 검색 가능한 데이터만 남김

for i in error_index:
    df = df.drop(index=i, axis=0)
df

,부과일자,최초본세,부과연도,부과월,부과일,지번,주소,시,구,세부주소
0,2014-07-21,"80,000",2014,7,21,300-010,대전광역시 동구 창조1길 68 (원동),대전광역시,동구,창조1길68
1,2015-07-02,"80,000",2015,7,2,300-040,대전광역시 동구 대전로 529,대전광역시,동구,대전로529
2,2014-08-20,"80,000",2014,8,20,300-050,대전광역시 동구 대전로 422-13,대전광역시,동구,대전로422-13
3,2014-10-01,"100,000",2014,10,1,300-050,대전광역시 동구 신기로 78,대전광역시,동구,신기로78
4,2015-04-29,"100,000",2015,4,29,300-060,대전광역시 동구 솜2길 11 (신안동),대전광역시,동구,솜2길11
...,...,...,...,...,...,...,...,...,...,...
2883,2015-07-01,"80,000",2015,7,1,NaN,대전광역시 중구 충무로107번길 100,대전광역시,중구,충무로107번길100
2884,2015-08-28,"80,000",2015,8,28,NaN,대전광역시 중구 대흥동,대전광역시,중구,대흥동
2886,2018-04-25,"80,000",2018,4,25,NaN,대전광역시 중구 산성동 30-2(대운빌라 201호),대전광역시,중구,산성동30-2(대운빌라
2887,2015-09-08,"80,000",2015,9,8,NaN,대전광역시 중구 산성동 330번지 2호 경성공원아파트 101동 604호,대전광역시,중구,산성동330번지
2891,2017-11-01,"100,000",2017,11,1,NaN,대전광역시 중구 수침로 138,대전광역시,중구,수침로138

In [321]:
df = df.reset_index()
df

,index,부과일자,최초본세,부과연도,부과월,부과일,지번,주소,시,구,세부주소
0,0,2014-07-21,"80,000",2014,7,21,300-010,대전광역시 동구 창조1길 68 (원동),대전광역시,동구,창조1길68
1,1,2015-07-02,"80,000",2015,7,2,300-040,대전광역시 동구 대전로 529,대전광역시,동구,대전로529
2,2,2014-08-20,"80,000",2014,8,20,300-050,대전광역시 동구 대전로 422-13,대전광역시,동구,대전로422-13
3,3,2014-10-01,"100,000",2014,10,1,300-050,대전광역시 동구 신기로 78,대전광역시,동구,신기로78
4,4,2015-04-29,"100,000",2015,4,29,300-060,대전광역시 동구 솜2길 11 (신안동),대전광역시,동구,솜2길11
...,...,...,...,...,...,...,...,...,...,...,...
2801,2883,2015-07-01,"80,000",2015,7,1,NaN,대전광역시 중구 충무로107번길 100,대전광역시,중구,충무로107번길100
2802,2884,2015-08-28,"80,000",2015,8,28,NaN,대전광역시 중구 대흥동,대전광역시,중구,대흥동
2803,2886,2018-04-25,"80,000",2018,4,25,NaN,대전광역시 중구 산성동 30-2(대운빌라 201호),대전광역시,중구,산성동30-2(대운빌라
2804,2887,2015-09-08,"80,000",2015,9,8,NaN,대전광역시 중구 산성동 330번지 2호 경성공원아파트 101동 604호,대전광역시,중구,산성동330번지
2805,2891,2017-11-01,"100,000",2017,11,1,NaN,대전광역시 중구 수침로 138,대전광역시,중구,수침로138

### 유효하지 않은 주소 데이터 분리(2)

In [265]:
for query in range(len(add_list)):
    if bool(kakao.search_address(add_list[query])['documents'][0]['address']) == False:
        print(query)

2522

In [322]:
df['주소'].loc[2522] # 특정되지 않는 주소

'대전광역시 대덕구 홍도로 113번길'

In [306]:
df['주소'].loc[2802] # 특정되지 않는 주소

'대전광역시 중구 대흥동'

In [324]:
df['주소'].loc[2804] # 검색되지 않는 주소

'대전광역시 중구 산성동 330번지 2호 경성공원아파트 101동 604호'

In [325]:
df_error.loc[2522] = df.loc[2522]
df = df.drop(index=2522, axis=0)
df_error.loc[2802] = df.loc[2802]
df = df.drop(index=2802, axis=0)
df_error.loc[2804] = df.loc[2804]
df = df.drop(index=2804, axis=0).reset_index()

In [326]:
df

,level_0,index,부과일자,최초본세,부과연도,부과월,부과일,지번,주소,시,구,세부주소
0,0,0,2014-07-21,"80,000",2014,7,21,300-010,대전광역시 동구 창조1길 68 (원동),대전광역시,동구,창조1길68
1,1,1,2015-07-02,"80,000",2015,7,2,300-040,대전광역시 동구 대전로 529,대전광역시,동구,대전로529
2,2,2,2014-08-20,"80,000",2014,8,20,300-050,대전광역시 동구 대전로 422-13,대전광역시,동구,대전로422-13
3,3,3,2014-10-01,"100,000",2014,10,1,300-050,대전광역시 동구 신기로 78,대전광역시,동구,신기로78
4,4,4,2015-04-29,"100,000",2015,4,29,300-060,대전광역시 동구 솜2길 11 (신안동),대전광역시,동구,솜2길11
...,...,...,...,...,...,...,...,...,...,...,...,...
2798,2799,2881,2016-01-25,"80,000",2016,1,25,NaN,대전광역시 중구 중촌로24번길 31 (중촌동),대전광역시,중구,중촌로24번길31
2799,2800,2882,2020-10-26,"80,000",2020,10,26,NaN,대전광역시 중구 천근로70번길 41,대전광역시,중구,천근로70번길41
2800,2801,2883,2015-07-01,"80,000",2015,7,1,NaN,대전광역시 중구 충무로107번길 100,대전광역시,중구,충무로107번길100
2801,2803,2886,2018-04-25,"80,000",2018,4,25,NaN,대전광역시 중구 산성동 30-2(대운빌라 201호),대전광역시,중구,산성동30-2(대운빌라
2802,2805,2891,2017-11-01,"100,000",2017,11,1,NaN,대전광역시 중구 수침로 138,대전광역시,중구,수침로138

In [327]:
df=df.drop(['level_0','index'], axis=1)
df

,부과일자,최초본세,부과연도,부과월,부과일,지번,주소,시,구,세부주소
0,2014-07-21,"80,000",2014,7,21,300-010,대전광역시 동구 창조1길 68 (원동),대전광역시,동구,창조1길68
1,2015-07-02,"80,000",2015,7,2,300-040,대전광역시 동구 대전로 529,대전광역시,동구,대전로529
2,2014-08-20,"80,000",2014,8,20,300-050,대전광역시 동구 대전로 422-13,대전광역시,동구,대전로422-13
3,2014-10-01,"100,000",2014,10,1,300-050,대전광역시 동구 신기로 78,대전광역시,동구,신기로78
4,2015-04-29,"100,000",2015,4,29,300-060,대전광역시 동구 솜2길 11 (신안동),대전광역시,동구,솜2길11
...,...,...,...,...,...,...,...,...,...,...
2798,2016-01-25,"80,000",2016,1,25,NaN,대전광역시 중구 중촌로24번길 31 (중촌동),대전광역시,중구,중촌로24번길31
2799,2020-10-26,"80,000",2020,10,26,NaN,대전광역시 중구 천근로70번길 41,대전광역시,중구,천근로70번길41
2800,2015-07-01,"80,000",2015,7,1,NaN,대전광역시 중구 충무로107번길 100,대전광역시,중구,충무로107번길100
2801,2018-04-25,"80,000",2018,4,25,NaN,대전광역시 중구 산성동 30-2(대운빌라 201호),대전광역시,중구,산성동30-2(대운빌라
2802,2017-11-01,"100,000",2017,11,1,NaN,대전광역시 중구 수침로 138,대전광역시,중구,수침로138

In [328]:
add_list = df['주소']

In [330]:
# 주소지 검색 가능한 데이터의 구, 법정동 추출

gu_list= []
dong_list =[]

for query in range(len(add_list)):
    result_01 = kakao.search_address(add_list[query])
    addrs_01 = result_01['documents'][0]['address']
    gu_list.append(addrs_01['region_2depth_name'])
    dong_list.append(addrs_01['region_3depth_name'])    

df['구'] = gu_list
df['동'] = dong_list

# AttributeError: 'NoneType' object has no attribute 'keys'
# kakao.search_address(add_list[2522])['documents']
'''
{'address': None,
 'address_name': '대전 대덕구 홍도로113번길',
 'address_type': 'ROAD',
 'road_address': {'address_name': '대전 대덕구 홍도로113번길',
  'building_name': '',
  'main_building_no': '',
  'region_1depth_name': '대전',
  'region_2depth_name': '대덕구',
  'region_3depth_name': '오정동',
  'road_name': '홍도로113번길',
  'sub_building_no': '',
  'underground_yn': 'N',
  'x': '127.425390549909',
  'y': '36.3562068552128',
  'zone_no': ''},
 'x': '127.425390549909',
 'y': '36.3562068552128'}
 '''
# 2522번째 행 분리하는 것으로 해결.

"\n{'address': None,\n 'address_name': '대전 대덕구 홍도로113번길',\n 'address_type': 'ROAD',\n 'road_address': {'address_name': '대전 대덕구 홍도로113번길',\n  'building_name': '',\n  'main_building_no': '',\n  'region_1depth_name': '대전',\n  'region_2depth_name': '대덕구',\n  'region_3depth_name': '오정동',\n  'road_name': '홍도로113번길',\n  'sub_building_no': '',\n  'underground_yn': 'N',\n  'x': '127.425390549909',\n  'y': '36.3562068552128',\n  'zone_no': ''},\n 'x': '127.425390549909',\n 'y': '36.3562068552128'}\n "

In [329]:
x_list = []
y_list = []

for query in range(len(add_list)):
    result_01 = kakao.search_address(add_list[query])
    addrs_02 = result_01['documents'][0]['road_address']
    x_list.append(addrs_02['x'])
    y_list.append(addrs_02['y'])

df['경도'] = x_list
df['위도'] = y_list

In [331]:
df

,부과일자,최초본세,부과연도,부과월,부과일,지번,주소,시,구,세부주소,경도,위도,동
0,2014-07-21,"80,000",2014,7,21,300-010,대전광역시 동구 창조1길 68 (원동),대전광역시,동구,창조1길68,127.435184665945,36.3280028576829,원동
1,2015-07-02,"80,000",2015,7,2,300-040,대전광역시 동구 대전로 529,대전광역시,동구,대전로529,127.447366644677,36.3110800933652,천동
2,2014-08-20,"80,000",2014,8,20,300-050,대전광역시 동구 대전로 422-13,대전광역시,동구,대전로422-13,127.45453761474,36.3046501677376,가오동
3,2014-10-01,"100,000",2014,10,1,300-050,대전광역시 동구 신기로 78,대전광역시,동구,신기로78,127.454767373681,36.3094556415906,가오동
4,2015-04-29,"100,000",2015,4,29,300-060,대전광역시 동구 솜2길 11 (신안동),대전광역시,동구,솜2길11,127.437812076503,36.3281107759157,신안동
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,2016-01-25,"80,000",2016,1,25,NaN,대전광역시 중구 중촌로24번길 31 (중촌동),대전광역시,중구,중촌로24번길31,127.412202856971,36.3385377910399,중촌동
2799,2020-10-26,"80,000",2020,10,26,NaN,대전광역시 중구 천근로70번길 41,대전광역시,중구,천근로70번길41,127.406586101885,36.3083135824966,문화동
2800,2015-07-01,"80,000",2015,7,1,NaN,대전광역시 중구 충무로107번길 100,대전광역시,중구,충무로107번길100,127.425890766539,36.322915936328,대흥동
2801,2018-04-25,"80,000",2018,4,25,NaN,대전광역시 중구 산성동 30-2(대운빌라 201호),대전광역시,중구,산성동30-2(대운빌라,127.38926542431,36.3087928070732,산성동
2802,2017-11-01,"100,000",2017,11,1,NaN,대전광역시 중구 수침로 138,대전광역시,중구,수침로138,127.398183216938,36.3323285440995,태평동

In [332]:
df = df[['부과일자','부과연도','부과월','부과일','최초본세','지번','주소','시','구','세부주소','동','위도','경도']]
df

,부과일자,부과연도,부과월,부과일,최초본세,지번,주소,시,구,세부주소,동,위도,경도
0,2014-07-21,2014,7,21,"80,000",300-010,대전광역시 동구 창조1길 68 (원동),대전광역시,동구,창조1길68,원동,36.3280028576829,127.435184665945
1,2015-07-02,2015,7,2,"80,000",300-040,대전광역시 동구 대전로 529,대전광역시,동구,대전로529,천동,36.3110800933652,127.447366644677
2,2014-08-20,2014,8,20,"80,000",300-050,대전광역시 동구 대전로 422-13,대전광역시,동구,대전로422-13,가오동,36.3046501677376,127.45453761474
3,2014-10-01,2014,10,1,"100,000",300-050,대전광역시 동구 신기로 78,대전광역시,동구,신기로78,가오동,36.3094556415906,127.454767373681
4,2015-04-29,2015,4,29,"100,000",300-060,대전광역시 동구 솜2길 11 (신안동),대전광역시,동구,솜2길11,신안동,36.3281107759157,127.437812076503
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2798,2016-01-25,2016,1,25,"80,000",NaN,대전광역시 중구 중촌로24번길 31 (중촌동),대전광역시,중구,중촌로24번길31,중촌동,36.3385377910399,127.412202856971
2799,2020-10-26,2020,10,26,"80,000",NaN,대전광역시 중구 천근로70번길 41,대전광역시,중구,천근로70번길41,문화동,36.3083135824966,127.406586101885
2800,2015-07-01,2015,7,1,"80,000",NaN,대전광역시 중구 충무로107번길 100,대전광역시,중구,충무로107번길100,대흥동,36.322915936328,127.425890766539
2801,2018-04-25,2018,4,25,"80,000",NaN,대전광역시 중구 산성동 30-2(대운빌라 201호),대전광역시,중구,산성동30-2(대운빌라,산성동,36.3087928070732,127.38926542431
2802,2017-11-01,2017,11,1,"100,000",NaN,대전광역시 중구 수침로 138,대전광역시,중구,수침로138,태평동,36.3323285440995,127.398183216938

In [334]:
# 주소지 검색 가능한 자료
df.to_csv("C://Python//NonSmoking_Project//data//데이터 정제_카카오 API_과태료(최종).csv", index=False, encoding='cp949')

# 주소기 검색 불가한 자료
df_error.to_csv("C://Python//NonSmoking_Project//data//데이터 정제_카카오 API_과태료_error(최종).csv", index=False, encoding='cp949')